$baseColor: #398B93;

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.hidden {
    display: none;
}

.eyeButton {
    border-radius: 20%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Metin ile buton arasýndaki boþluðu isteðe baðlý olarak ayarlayabilirsiniz */
    margin-right: 10px;
}
.toggleButtonContainer {
    text-align: center;
}

.toggleContainer {
    display: flex;
    align-items: center;
}


.header-color {
    color: aqua;
}
.rounded-half {
    border-radius: 20%;
}

.flight-list-item {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align:justify-all;
}
.flight-list-item:hover {
    background-color:blanchedalmond;
    
}
.flight-headers {
    margin: 5px;
    padding: 5px;
    text-align: justify-all;
    font-size:20px;
    font-weight:bold;
}

.container-soft {
    border-radius: 30px;
    background-color: cornsilk;
    margin:25px;
    padding:25px;
}

.bottom-text {
    vertical-align: bottom;
}

.validation-summary-errors {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

    .validation-summary-errors ul {
        color: #842029;
        margin: 0px;
    }



.header {
    background-color: darken($baseColor, 5%);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.table-users {
    border: 1px solid darken($baseColor, 5%);
    border-radius: $borderRadius;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 800px;
}

table {
    width: 100%;
    td, th

{
    color: darken($baseColor, 10%);
    padding: $padding;
}

td {
    text-align: center;
    vertical-align: middle;
    &:last-child

{
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}

}

th {
    background-color: lighten($baseColor, 50%);
    font-weight: 300;
}

tr {
    &:nth-child(2n)

{
    background-color: white;
}

&:nth-child(2n+1) {
    background-color: lighten($baseColor, 55%)
}

}
}



