@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"> @ViewData["Title"]  </h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group form-floating mb-3">
                <input asp-for="FullName" class="form-control" placeholder="First / Last Name" />
                <label asp-for="FullName" class="form-label">First / Last Name</label>
                <span asp-validation-for="FullName" class="text-danger small"></span>
            </div> 

            <div class="form-group form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <label asp-for="Email" class="form-label">Email</label>
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <div class="form-group form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <label asp-for="Password" class="form-label">Password</label>
                <span asp-validation-for="Password"  class="text-danger small"></span>
            </div>
            
            <div class="form-group form-floating mb-3">
                <input asp-for="RePassword" type="password" class="form-control" placeholder="Confirm Password" />
                <label asp-for="RePassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="RePassword"  class="text-danger small"></span>
            </div>

            
            <div class="form-group mb-3 d-grid">
                <button type="submit" class="btn btn-primary d-block">Register</button>
            </div>

        </form>
    </div>
</div>

