@model RouteViewModel
@{
    ViewData["Title"] = "Update Route";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"> @ViewData["Title"]  </h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group form-floating mb-3">
                <input asp-for="StartPoint" class="form-control" placeholder="Starting Point" value="@Model.StartPoint" />
                <label asp-for="StartPoint" class="form-label">Starting Point</label>
                <span asp-validation-for="StartPoint" class="text-danger small"></span>
            </div>

            <div class="form-group form-floating mb-3">
                <input asp-for="EndPoint" class="form-control" placeholder="Ending Point" value="@Model.EndPoint" />
                <label asp-for="EndPoint" class="form-label">Ending Point</label>
                <span asp-validation-for="EndPoint" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3 d-grid">
                <button type="submit" class="btn btn-primary">Update Route</button>
            </div>

        </form>
    </div>
</div>

