@{
    ViewData["Title"] = "Admin Page";
}


<div class="row">
    <div class="col">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-3 offset-4">
        <div class="container-fluid ratio ratio-1x1 border border-3 rounded-half border-success d-inline-flex justify-content-center align-items-center">
            deneme
        </div>
    </div>
</div>